<p>Hello</p>
<p>
    You have been invited as a student to the class in  service SchoolHelper
</p>

<p>Follow the link below to confirm your invitation</p>
<p>
  <a href={{confirmation_url}}>Confirm you account</a>
</p>
